/*Result Card Styling*/
@import "~font-awesome/css/font-awesome.css";


h1,h2,h3,h4,h5,p{
    margin: 0px
}

.resultCard {
	box-shadow: 0px 0px 15px #dddddd;
	transition:0.3s;
}

.resultCard:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px #c5c5c5
}

.flex-containter{
    flex:wrap;
    flex-wrap: row;
    display: flex;
}

.resultCardImg{
    width:'100px';
    height:'100px'; 
    border-radius:"100px" ;
    margin:"20px 10px 20px 20px"; 
}

.resultCardContent{
    width: 100%;
}

.settings{
    margin: auto;
    width: 90%;
    max-width: 600px;
    margin-top: 50px;
}

.settings-password{
	margin: auto;
	margin-top: 60px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.addOptions1{
	display: flex;
	flex-direction: column;
	width: 70%; 
	margin: auto;
	justify-content: space-evenly;
	height: 250px;
	margin-bottom: 25px;
}

.addOptions2{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: auto;
	height: 250px; 
	margin-bottom: 25px;
}

.addOptions3{
	display: flex;
	flex-direction: column; 
	width: 70%;
	justify-content: space-evenly;
	margin: auto;
	height: 250px;
	margin-bottom: 25px;
}

.filter{
	width: 20%;
	height: 100vh;
	display: flex;
	padding-left: 2%;
	flex-direction: column;
	justify-content: left;
	min-width: 305px;
	background-color: rgb(241, 240, 240);
}

.grid{
	display: grid;
	width: 300px;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
}

.filter-languages{
	display: flex;
}

.filter-title{
	margin-bottom: 20px;
	font-size: 20px;
}

.text-filter{
	margin-top: 40px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.searchPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.8s;
}

.search{
	margin: auto;
	width: 100%;
	display: flex;
	min-width: 400px;
	max-width: 900px;
}

.searchInput{
	height: 40px;
	width: 100%;
	border-radius: 25px;
	padding: 8px;
	padding-left: 45px;
	font-size: 18px;
	border: 1px solid lightgray;
	transition: 0.8s;
}

.searchInput:focus{
	outline: none;
}

.searchInput:hover{
	width: 200%;
	box-shadow: 0px 5px 5px lightgray;
}

.categorySearch{
	width: 50%;
	transition: 0.8s;
	margin-left: 20px;
	text-align: center;
}

.categorySearch:hover{
	width: 100%;
}

.mainTitle{
	font-size:190px; 
	font-family:'Avenir'; 
	font-weight:900;
	height:200px;
}

.subTitle{
	font-size:30px; 
	font-family:'Helvetica Neue'; 
	font-weight:300;
	height:10px;
}

.addToolButton{
	background:rgb(255,255,255,0.3);
}

.addToolButton:hover{
	background:rgb(255,255,255,1);
	transform: scale(0.97);
}