/*Result Card Styling*/
@import "~font-awesome/css/font-awesome.css";


h1,h2,h3,h4,h5,p{
    margin: 0px
}

.resultCard {
	box-shadow: 0px 0px 15px #dddddd;
	transition:0.3s;
}

.resultCard:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px #c5c5c5
}

.flex-containter{
    flex:wrap;
    flex-wrap: row;
    display: flex;
}

.resultCardImg{
    width:'100px';
    height:'100px'; 
    border-radius:"100px" ;
    margin:"20px 10px 20px 20px"; 
}

.resultCardContent{
    width: 100%;
}

.settings{
    margin: auto;
    width: 90%;
    max-width: 700px;
    margin-top: 50px;
}

.settings-password{
	margin: auto;
	margin-top: 60px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.addOptions{
	margin: auto;
	width: 400px;
}

.addOptions1{
	display: flex;
	flex-direction: column;
	width: 90%; 
	max-width: 280px;
	margin: auto;
	justify-content: space-evenly;
	height: 250px;
	margin-bottom: 25px;
}

.addOptions2{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: auto;
	height: 250px; 
	margin-bottom: 25px;
}

.addOptions3{
	display: flex;
	flex-direction: column; 
	width: 70%;
	justify-content: space-evenly;
	margin: auto;
	height: 250px;
	margin-bottom: 25px;
}

.filter{
	width: 20%;
	height: 100vh;
	display: flex;
	padding-left: 2%;
	flex-direction: column;
	justify-content: left;
	min-width: 305px;
	background-color: rgb(241, 240, 240);
}

.grid{
	display: grid;
	width: 300px;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
}

.filter-languages{
	display: flex;
}

.filter-title{
	margin-bottom: 20px;
	font-size: 20px;
}

.text-filter{
	margin-top: 40px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.searchPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.8s;
}

.search{
	margin: auto;
	width: 80%;
	display: flex;
	max-width: 900px;
}

.searchInput{
	height: 40px;
	width: 100%;
	border-radius: 25px;
	padding: 8px;
	padding-left: 50px;
	font-size: 18px;
	border: 1px solid lightgray;
	transition: 0.8s;
}

.searchInput:focus{
	outline: none;
}

.searchInput:hover{
	width: 200%;
	box-shadow: 0px 5px 5px lightgray;
}

.categorySearch{
	width: 50%;
	transition: 0.8s;
	margin-left: 20px;
	text-align: center;
}

.categorySearch:hover{
	width: 100%;
}

.mainTitle{
	font-size:190px; 
	font-family:'Avenir'; 
	font-weight:900;
	height: 200px;
}

.subTitle{
	font-size:30px; 
	font-family:'Helvetica Neue'; 
	font-weight:300;
	height:40px;
}

.subTitle-text{
	font-size:30px; 
	font-family:'Helvetica Neue'; 
	font-weight:300;
}

.image{
	max-width: 500px;
}

.homepage{
	margin-top: 150px;
}

@media (max-width: 1500px) {
	.homepage{
		margin-top: 120px;
	}
	.mainTitle{
		font-size: 140px;
		height: 160px;
	}
	.subTitle{
		font-size: 28px;
	}
	.subTitle-text{
		font-size: 28px;
	}
	.image{
		max-width: 350px;
		margin-left: 10px;
	}
}

@media (max-width: 800px) {
	.homepage{
		margin-top: 90px;
	}
	.mainTitle{
		font-size: 70px;
		height: auto;
		text-align: center;
	}
	.subTitle{
		text-align: center;
		padding-right: 10px;
		padding-left: 10px;
		height: auto;
		font-size: 20px;
	}
	.subTitle-text{
		text-align: center;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 20px;
		margin-top: 10px;
	}
	.image{
		margin-top: 20px;
		max-width: 200px;
	}
	.search{
		flex-wrap: wrap;
		height: 120px;
	}
	.addOptions{
		width: 220px;
	}
}